.FinalGrade h1{
    color: blue;
    font-family: courier;
    text-align: center;
    font-size: 45px;
}

.FinalGrade {
    font-family: courier;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    color: blue;
}